<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="a2dp.Vol"
      android:installLocation="auto" android:versionCode="2" android:versionName="1.2.0">
    <application android:name="MyApplication" android:label="@string/app_name" android:icon="@drawable/icon1">
        <activity android:name=".main" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <service android:enabled="true" android:name="service">
</service>

<activity android:name="ManageData" android:enabled="true" android:launchMode="standard">

</activity>

<activity android:name="Preferences" android:launchMode="standard" android:enabled="true" android:label="@xml/preferences"></activity>

<receiver android:name="Starter"><intent-filter><category android:name="android.intent.category.HOME"></category>
<action android:name="android.intent.action.BOOT_COMPLETED"></action>
</intent-filter>
</receiver>
</application>



<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>

<uses-sdk android:minSdkVersion="8"></uses-sdk>

<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>


<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
</manifest> 